body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo{
   cursor : pointer
}

.strike {
   text-decoration: line-through;
}

#main{
   /* border: 1px solid gray; */
   width: 40%;
   text-align: center;
   margin: auto;
   margin-top: 2em;
}

#inputBox 
{
   width: 20em;
   height: 2em;
}

 li{
   list-style-type: none;
   /* border: 1px dotted gray; */
   width: 30em;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   white-space: nowrap;

}

ul{
  
   text-align: center;
}

#buttons{

   position: relative;
   margin-left: auto;
   white-space: nowrap;
}

button{
   height:2em
}

#finished {
   margin-bottom: 1em;
}